* {
    margin: 0px; padding: 0px;
}
body {
    font-size: 120%;
    background-color: PowderBlue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
}
.container{
    margin: 10px 10px 10px 10px;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0px auto;
    padding: 10px;
    border: 3px solid navy;
    display: flex;
    flex-direction: row;
    color: navy;
}
.input-group {
    margin: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: auto;
}
.input-group label {
    display: block;
    text-align: left;
    margin: auto;
}
.input-group input {
    margin: auto;
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    color: black;
    border-radius: 5px;
    border: 2px solid gray;
    align-items: center;
    align-self: center;
}
button{
    padding: 10px;
    font-size: 15px;
    color: white;
    background: darkcyan;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}
input[type=number]{
    width:5%;
    padding: 5px 0px;
    margin: 2px 0;
    box-sizing: border-box;
}
.container input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
#user_type {
    height: 40px;
    width: 98%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
#s01{
    background-color: darkcyan;
    color: white;
    cursor:pointer;
    border-radius: 5px;
}