* {
    margin: 0px; padding: 0px;
}
body {
    font-size: 120%;
    background-image: url("/resources/theme/css/img/admin.png");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    max-width: 600px;
}
.container {
    width: 80%;
    height: 200px;
    margin: auto;
    padding: 10px;
    display: inline-block;
}
.myNavbar {
    width: 15%;
    height: 200px;
    float: left;
    justify-content: center;
}

.myNavbar2 {
    margin-left: 15%;
    height: 200px;
}
#h1 {
    width: 60%;
    margin: 50px auto 0px;
    color: darkslategrey;
    text-align: center;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}
button{
    padding: 10px;
    font-size: 15px;
    color: white;
    background: darkcyan;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}

.myNavbar{
    display: inline-block;
}
