* { margin: 0px; padding: 0px; }
body {
  font-size: 120%;
  background-image: url("/resources/theme/css/img/home.png");
  /*background-color: gray;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  max-width:400px;
}
table {
  width:45%;
  max-width: 45%;
}
table, th, td {
  margin: 0;
  border: 1px solid yellow;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
th{
  color: white;
}

#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
  background-color: #fff;
}
p{
  align-content: center;
  text-align: center;
  color: #B0C4DE;
}
.btn{
  padding: 5px;
  font-size: 10px;
  color: white;
  background: darkcyan;
  border: none;
  border-radius: 5px;
  cursor:pointer;
}
#h04{
  color: lightcyan;
  align-content:center;
  text-align: center;
}


