* { margin: 0px; padding: 0px; }
body {
    font-size: 120%;
    background-image: url("/resources/theme/css/img/home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    max-width: 600px;
}
h1 {
    width: 60%;
    color: white;
    text-align: center;
    align-content: center;
}

.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    align-content: center;
}

.profile_info div {
    display: inline-block;
    margin: 5px;
}
.profile_info:after {
    content: "";
    display: block;
    clear: both;
}