* {
    margin: 0px; padding: 0px;
}
body {
    font-size: 120%;
    background-image: url("/resources/theme/css/img/home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    max-width: 600px;
}
.header {
    width: 60%;
    margin: 50px auto 0px;
    color: white;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}
form, .content {
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    border-radius: 0px 0px 10px 10px;
}
.container {
    margin: 10px 0px 10px 0px;
}
 label {
    color: white;
    display: block;
    text-align: left;
    margin: 3px;
}
.container input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
#user_type {
    height: 40px;
    width: 98%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
#s01{
    background-color: darkcyan;
    color: white;
    cursor:pointer;
    border-radius: 5px;
}
.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: darkcyan;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}
.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}

