* {
    margin: 0px; padding: 0px;
}
body {
    font-size: 100%;
    background-color:#FFEFD5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    max-width: 600px;
}
button , .button{
    padding:10px;
    font-size: 10px;
    color: white;
    background: #556B2F;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}

.container{
    margin: 10px 10px 10px 10px;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 100%;
    padding: 2px;
    border: 2px solid #556B2F;
    display: flex;
    flex-direction: row;
    color: #556B2F;
    margin-left: 30%;
}
