* { margin: 0px; padding: 0px; }
body {
    font-size: 120%;
    background-image: url("/resources/theme/css/img/dc946732adc6371c5935504d365fae13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: max-content;
    max-width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
}
.header {
    width: 60%;
    color: #556B2F;
    text-align: center;
    border: 3px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 2%;
}
.container {
    justify-content: center;
    align-items: center;
    width: 64%;
    align-self: center;
    /*margin:  auto;*/
    border: 3px solid #556B2F;
    border-radius: 10px;
    text-align: center;
    display: flex;
}

.input-group label {
    display: block;
    text-align: left;
    margin: auto;
}
.input-group input {
    margin: auto;
    height: 30px;
    width: 93%;
    padding: 2px 7px;
    font-size: 16px;
    color: #556B2F;
    border-radius: 5px;
    border: 1px solid gray;
    align-items: center;
    align-self: center;
}

.button{
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #556B2F;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5%;
    margin-top:4%;
}
label{
    color: #556B2F;
}

.container input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    max-width: 70%;
    margin-top: 4%;
    margin-left: 5%;
}
#holder{
    max-width:37%;
    margin-left: 28%;
    margin-top: 1%;
}
#homeButton{
   align-self: start;
}
h4{
    color: #556B2F;
    align-self: center;
    margin-left: 38%;
}