* {
    margin: 0px; padding: 0px;
}
body {
    font-size: 120%;
    background-color:PowderBlue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    max-width: 100%;
    margin: 3%;
}
button , .button{
    padding:8px;
    font-size: 10px;
    color: white;
    background: darkcyan;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}
table {
    border: 2px solid midnightblue;
    border-collapse: collapse;
    float: inside;
    table-layout: auto;
    width: 100%;
    margin:  auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.container{
    /*margin: 10px 10px 10px 10px;*/
    justify-content: center;
    align-self: center;
    width: 60%;
    margin:  auto;
    padding: 10px;
    border: 3px solid navy;
    display: flex;
    flex-direction: row;
    color: navy;
}
th , td{
    text-align: center;
    padding: 8px;
}
tr:nth-child(even) {background-color: #f2f2f2;}
