* { margin: 0px; padding: 0px; }
body {
    font-size: 120%;
    background-color:PowderBlue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    max-width: 600px;
}
table {
    width:60%;
    border: 1px solid navy;
    border-collapse: collapse;
    float: inside;
}
table, th, td {
    border: 1px solid navy;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
#t01 tr:nth-child(even) {
    background-color: #eee;
}
#t01 tr:nth-child(odd) {
    background-color: #fff;
}
#t01 th {
    background-color: black;
    color: black;
}
h4{
    text-align:center;
    color: teal;
}
.btn{
    padding: 10px;
    font-size: 15px;
    color: white;
    background: darkcyan;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}