* {
    margin: 0px; padding: 0px;
}
body {
    font-size: 120%;
    background-color: PowderBlue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
}
button , .btn,.button{
    padding: 10px;
    font-size: 15px;
    color: white;
    background: darkcyan;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}
h1,h4,h3,h5 , label ,p{
    color: midnightblue;
}
