* {
    margin: 0px; padding: 0px;
}
body {
    font-size: 120%;
    background-color: #FFEFD5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    max-width: 100%;
}
table {
    width: 60%;
    border: 1px solid  #556B2F;
    border-collapse: collapse;
    float: inside;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}
thead{
    color: #556B2F ;
}
button {
    padding: 10px;
    font-size: 15px;
    color: white;
    background:  #556B2F;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 7%;
}